@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

footer {
    text-align: center;
}
main article #4 {
}
header h1 {
    color: #830B0D;
    margin-top: 20px;
    width: 100%;
}
body main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


nav {
    height: 111px;
    text-shadow: 0px 0px #112C0B;
    color: #112C0B;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #9FAAAF;
    margin-top: -22px;
}
.container.01 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 80%;
}

.fameimg {
    border-radius: 17px;
    background-position: center center;
    background-size: 103% 141%;
    background-image: url(assets/corkapeople%2002.png);
    margin-top: 8px;
    margin-bottom: -10px;
    -webkit-box-shadow: 0px 0px 12px #243E4A;
    box-shadow: 0px 0px 12px #243E4A;
    margin-left: 145px;
    margin-right: 145px;
    height: 396px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img {
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;    
}
.img :hover{
	transform: rotate(2deg);
}



.fameimg:hover {
    transform:  translate(40px,20px)
    
}

nav a:hover {
    color: #830B0D;
}

nav a  {
    color: #112C0B;
    text-decoration: none;
}
.４ {
}
#4 {
}
article h3 {
    border-radius: 7px;
    background-color: #93A5C5;
    background-size: 30px 30px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    text-align: center;
}
body header {
}

.container.02 {
    display: flex;
    text-align: left;
    width: 70%;
    height: 400px;
}
.fameimg:active {
    text-shadow: 3;
}


main article div {
    text-align: center;
}
.map {
    background-color: #93A78F;
	-webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}


.container04 {
    display: flex;
    height: 200px;
}
.container04 .left {
    flex: 1;
    text-align: left;
}
.container04 .right {
    flex: 1;
    background-image: url(assets/corka04.jpg);
    margin-left: auto;
    margin-right: auto;
    background-position: center
  
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    background-position: center center;
}
.container04 .right:hover {
    width: 80px;
   height: 280px;
	
}
.map:hover {
  	transform: rotate(2deg)translateX(50px);
    -webkit-box-shadow: 1px 1px 5px 4px #9B9999;
    box-shadow: 1px 1px 5px 4px #9B9999;	
}
